body {
    margin: 0;
  }

  #loading {
    background-image: url('https://cdn.glitch.global/af55d866-7230-4c11-b0c8-ace17ef210a3/gif-loading.gif?v=1685301260202');
    height: 600px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    margin-top: 350px;
  }
  