body {
    margin: 0;
    background-image: url('https://cdn.glitch.global/af55d866-7230-4c11-b0c8-ace17ef210a3/background.png');
    background-size: cover;
    background-position: center;
  }
  
  section {
    margin: auto;
    height: 100vh;
    width: 100vw;
  }
  
  h1 {
    position: fixed;
    z-index: 3;
  }
  