body {
    height: 6141px;
  }
  
  section {
    margin: auto;
    height: 100vh;
  }
  
  h1 {
    position: fixed;
    z-index: 3;
  }
  
  .scene {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    transition: all 1s;
    background-size: cover;
  }
  
  .scene-text {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30%;
  }
  
  /* Counter General */
  .counter {
    position: fixed;
    left: 0;
    right: 0;
  
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    z-index: 1;
  
    background-color: orangered;
    bottom: 0;
  }
  
  #letter {
    position: relative;
    top: 50%;
    width: 70%;
    padding: 50px;
    border: 3px dashed orange;
    column-count: 3;
    column-gap: 2rem;
    margin: 0 auto;
    line-height: 1.2;
    padding: 20px;
    white-space: pre-wrap;
  }

  #justin-letter {
    top: 0;
    height: 100%;
    position: relative;
    z-index: 2;
    background-image: url('https://cdn.glitch.global/af55d866-7230-4c11-b0c8-ace17ef210a3/justin%20and%20letterbox.png?v=1685227261891');
    background-repeat: no-repeat;
    background-size: contain;
  }

  #green-star {
    animation: rotate 7s linear infinite;
    top: 95%;
    left: 7%;
    position: relative;
    height: 1250px;
    width: 1250px;
    z-index: 1;
    position: absolute;
    background-image: url('https://cdn.glitch.global/af55d866-7230-4c11-b0c8-ace17ef210a3/shapes.png?v=1685230769336');
    background-repeat: no-repeat;
    background-size: contain;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #green-star2 {
    height: 1500px;
    width: 1500px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-image: url('https://cdn.glitch.global/af55d866-7230-4c11-b0c8-ace17ef210a3/shapes.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
  }

  #sliding-text {
    height: 100vh;
    background-size: cover;
    background-image: url('https://cdn.glitch.global/f26b7820-38c8-45b7-a6ec-28d67c5718e7/still4.png?v=1683533604813');
    }
  