body {
    height: 6141px;
    width: 100vw;
  }


  #justin-letter {
    top: 0;
    height: 100%;
    position: relative;
    z-index: 2;
    background-image: url('https://cdn.glitch.global/af55d866-7230-4c11-b0c8-ace17ef210a3/justin%20and%20letterbox%202.png?v=1685284405636');
    background-repeat: no-repeat;
    background-size: contain;
  }

  #green-star {
    animation: rotate 7s linear infinite;
    top: 100%;
    transform-origin: center;
    left: 5%;
    height: 120vh;
    width: 120vh;
    z-index: 1;
    position: absolute;
    background-image: url('https://cdn.glitch.global/af55d866-7230-4c11-b0c8-ace17ef210a3/shapes.png?v=1685230769336');
    background-repeat: no-repeat;
    background-size: contain;
  }

  p {
    margin-top: 0;
  }

  @font-face {font-family: "Microsoft Sans Serif";
    src: url("//db.onlinewebfonts.com/t/643e59524d730ce6c6f2384eebf945f8.eot");
    src: url("//db.onlinewebfonts.com/t/643e59524d730ce6c6f2384eebf945f8.eot?#iefix") format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/643e59524d730ce6c6f2384eebf945f8.svg#Microsoft Sans Serif") format("svg");
  }

  #text-letter {
    font-size: 27px;
    font-family: "Microsoft Sans Serif", sans-serif;
    height: 55%;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 2600px;
    left: 24%;
    width: 51%;
    z-index: 3;
    position: absolute;
  }

  #text-letter-2 {
    font-size: 27px;
    font-family: "Microsoft Sans Serif", sans-serif;
    height: 82%;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 1600px;
    left: 6%;
    width: 37%;
    z-index: 3;
    position: absolute;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }